.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

 .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

.input-group {
    position: relative;
    border-collapse: separate;
}
.input-group-addon {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.prefix .input-group-addon {
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
}